<div class="row">
    <div class="col s12 l8">
        <h3><%= map.title + " " + map.public %> <a href="/maps/<%= map.id%>/edit">EDIT</a></h3>
        <!-- map content -->
        <div id="map"></div>
        <div class="row">
            <div class="col s12">
                <button id="heatmap" class="col s12 m4 btn btn-large blue-grey">HEATMAP</button>
                <button id="delaunay" class="col s12 m4 btn btn-large blue-grey">DELAUNAY</button>
                <button id="voronoi" class="col s12 m4 btn btn-large blue-grey">VORONOI</button>
            </div>
        </div>
    </div>
    <div class=" col s12 l4">
        <!-- list of data points -->
        <div class="collection">            
            <% bikes.forEach( (bike) => { %>
            <a class="collection-item blue-grey lighten-5 black-text" href="<%= bike.url %>" target=_blank> <%= bike.model %> on Bike Index <i class="material-icons">chevron_right</i></a>
            <% }) %>
        </div>
    </div>
</div>

<script> 
    let bikes = <%- JSON.stringify(bikes) %>;
    let locationMap = <%- JSON.stringify(map) %>;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
<script src="https://d3js.org/d3-voronoi.v1.min.js"></script>
<script src="/js/plotBikes.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&libraries=visualization&callback=initMap"></script>
